<a href="https://colab.research.google.com/github/HyeonhoonLee/TSA_pandas/blob/master/01_Datetime_Index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datetime Index
- Time 또는 date 정보는 별개의 칼럼이기보다 인덱스인 경우가 많습니다.
- Pandas에 내장된 기능들로 DateTime 인덱스를 생성하고 활용하는 방법을 다룹니다.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from datetime import datetime

In [3]:
# 2020년 9월 1일
today = datetime(2020,9,1)

In [4]:
# '시'와 '분'은 '0시' '0분'이 디폴트값
today

datetime.datetime(2020, 9, 1, 0, 0)

In [9]:
# 시,분,초 지정
today = datetime(2020,9,1,21,17, 55)

In [10]:
today

datetime.datetime(2020, 9, 1, 21, 17, 55)

In [11]:
today.day

1

In [12]:
today.hour

21

### Pandas with Datetime Index

In [14]:
# datetime 객체로 list 생성 예시
dates = [datetime(2019,1,23), datetime(2019,1,24)]
dates

[datetime.datetime(2019, 1, 23, 0, 0), datetime.datetime(2019, 1, 24, 0, 0)]

In [15]:
# 인덱스 전환
## ' '로 감싸져 있어서 string 타입으로 보이지만, 실제로는 datetime 형식으로 저장되어 있음.
dt_index = pd.DatetimeIndex(dates)
dt_index

DatetimeIndex(['2019-01-23', '2019-01-24'], dtype='datetime64[ns]', freq=None)

In [16]:
# 2 by 2 랜덤 데이터를 생성하고 인덱스와 함께 DataFrame 만들기
data = np.random.randn(2,2)
cols = ['A','B']
df = pd.DataFrame(data=data, index=dt_index, columns=cols)

In [17]:
# 인덱스는 굵은 글씨로 표시된다.
df

                   A         B
2019-01-23 -0.517971 -0.812279
2019-01-24  1.586642 -1.119089

In [20]:
## 만약 기본 인덱스로 바꿔주려면 reset_index 함수를 쓴다.
df_reset = df.reset_index().copy()
df_reset["index"]

0   2019-01-23
1   2019-01-24
Name: index, dtype: datetime64[ns]

In [21]:
# df의 index를 확인하는 방법
df.index

DatetimeIndex(['2019-01-23', '2019-01-24'], dtype='datetime64[ns]', freq=None)

In [22]:
# Latest Date Location (max값의 index를 가져오는게 argmax함수)
df.index.argmax()

1

In [23]:
# Latest Date
df.index.max()

Timestamp('2019-01-24 00:00:00')

In [24]:
# Earliest Date Location
df.index.argmin()

0

In [25]:
# Earlist date
df.index.min()

Timestamp('2019-01-23 00:00:00')